body {
  margin: 0;
  padding: 0;
}

.send-button {
  font-family: inherit;
  font-size: 20px;
  background: royalblue;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
}

.send-button span {
  display: block;
  font-size: 0.8em;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.send-button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.send-button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.send-button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.send-button:hover span {
  transform: translateX(5em);
}

.send-button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

/* beautify the scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  overflow: hidden;
}

::-webkit-scrollbar-track {
  width: 3px;
  background: rgba(#101F1C, 0.1);
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(144,147,153,.5);
  background-clip: padding-box;
  min-height: 28px;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  border-radius: 2em;
  transition: background-color .3s;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(144,147,153,.3);
}

/* the chat box */
.chat-box {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-left: 10%;
  margin-top: 50px;
  border-radius: 40px;
  border: 2px solid #007bff;
  height: 86vh;
  overflow-x: hidden;
}
.message-list {
  flex-grow: 1;
  overflow-y: scroll;
  /* padding: 10px; */
}

.message-item {
  margin-bottom: 10px;
  margin-left: 10px;
}
.message-item .user-name {
  font-weight: bold;
}
.message-item .message-text {
  margin-left: 10px;
}

/* input */
.input-box {
  /* border-top: #007bff 1px solid; */
  display: flex;
  align-items: center;
  padding: 10px;
  /* background-color: #f5f5f5; */
  background-color: aliceblue;
  border-radius: 0 0 40px 40px;
}
.input-box input[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
  padding: 10px;
  border-radius: 16px;
  border: #000 2px solid;
}
.input-box input[type="text"]:focus {
  outline: none;
  border-radius: 20px;
  border: #007bff 2px solid;
  transition: all 0.3s ease-in-out;
}
.input-box button[type="submit"] {
  padding: 5px 10px;
  border-radius: 16px;
  border: none;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}