.content{
    margin-top: 40px;
    width: 60%;
    height: 84vh;
    margin-left: 10%;
    border: 1px solid #007bff;
    border-radius: 40px;
}
.head{
    width: 100%;
    margin-top: 10px;
    height: 30px;
    margin-left: 5%;
    font-size: 30px;
    font-weight: 600;
    color: #000;
}

/* detail */
.main_content{
    width: 92%;
    margin: 0 auto;
}
.detail-img1{
    float: right;
    width: 54%;
    border-radius: 40px;
}
.detail-img2{
    float: left;
    width: 54%;
    border-radius: 40px;
}
.part1{
    display: block;
    margin-top: 4%;
    min-height: 280px;
}
.part2{
    display: block;
    margin-top: 4%;
}
.text-body2{
    float: left;
    margin-left: 16px;
}